* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

body {
    background-color: black;
}

.box_image {
    width: calc(100% / 7);
    padding: 0.1rem;
    position: relative;
}

.row img {
    max-width: 100%;   
}

.user_mic {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
}


.speaker_view {
    text-align: end;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.view, .user {
    background-color: gray;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.user {
    margin-left: 2rem;
}

#site_footer {
    background-color: grey;
}

.mic_video {
    color: white;
    text-align: center;
    padding: 1rem 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.mic_video {
    display: flex;
    flex-wrap: nowrap;
    width: calc((100% / 12)*3);
}

.arrow {
    margin: 0.5rem;
}

.mic_video i {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    width: calc((100% / 12)*6);
    color: white;
    text-align: center;
    padding: 1rem 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.invite, nav.arrow {
    width: calc(100% / 9);
}

nav i {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.share {
    color: lightgreen;
}

.exit {
    width: calc((100% / 12) * 3);
    position: relative;
}

.bg_grey {
    height: 100%;
    width: calc((100% / 12)*4);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.close_meeting {
    color: red;
    background-color: white;
}

.foot {
    padding: 0;
}

