* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-body: black;
    --view-gray: gray;
    --footer-bg: #222222;
    --meetend-color: red;
    --text-white: white;
    --icon-white: white;
    --share-green: lightgreen;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
}

body {
    background-color: var(--bg-body);
    height: 100vh;
}

.box_image {
    width: calc(100% / 7);
    padding: 0.1rem;
    position: relative;
}

.row img {
    max-width: 100%;   
}

.user_mic {
    color: var(--text-white);
    font-family: 'Roboto', sans-serif;
    padding: 0.5rem;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 0.7rem;
    position: absolute;
    bottom: 0;
    left: 0;
}


.speaker_view {
    text-align: end;
    color: var(--text-white);
    font-family: 'Roboto', sans-serif;
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
}

.view, .user {
    background-color: var(--view-gray);
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.user {
    margin-left: 2rem;
}

#site_footer {
    background-color: #222222;
}

.mic_video {
    color: var(--text-white);
    text-align: center;
    padding: 1rem 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.mic_video {
    display: flex;
    flex-wrap: nowrap;
    width: calc((100% / 12)*3);
}

.arrow {
    margin: 0.5rem;
}

.mic_video i {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

nav {
    display: flex;
    flex-wrap: nowrap;
    width: calc((100% / 12)*6);
    color: var(--text-white);
    text-align: center;
    padding: 1rem 0.5rem 1rem;
    font-family: 'Roboto', sans-serif;
}

.invite, nav.arrow {
    width: calc(100% / 9);
}

nav i {
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.share {
    color: var(--share-green);
}

.exit {
    width: calc((100% / 12) * 3);
    position: relative;
}

.bg_grey {
    height: 100%;
    width: calc((100% / 12)*4);
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
}

.close_meeting {
    color: var(--meetend-color);
    
}

.foot {
    padding: 0;
}

